.Square{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    
}

#Board{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    color: blue;

}


h1 {
    color: blueviolet;
    font-size: 30px;
}


p1{
    color: blueviolet;
    font-weight: bolder;
    text-align: center;
}